@page
@model lab12.Pages.Tariffs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tariff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tariff.ProviderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tariff.ProviderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tariff.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tariff.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tariff.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tariff.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tariff?.TariffId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
